html {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  text-align: left;
  font-size: 13px;
  color: #444444;
  background-color: #eaeaea;
  height: 100%;
}

@font-face {
  font-family: Museo;
  src: url('Museo500-Regular.otf');
}

#menu {
  height: 100px;
}

#wrapper {
  height: auto !important;
  margin: 0 auto -80px;
  min-height: 100%;
  position: relative;
  max-width: 1000px;
}

#push {
  height: 90px;
}

#footer_container {
  position: relative;
  height: 80px;
  background-color: #444444;
}

#footer {
  padding-top: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#footer a {
  color: #fff;
}

#test{
  height: 100%;
}

#main {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 69%;
}

#sidebar { 
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 30%;
}

#fb_likes {
  height: 100%;
  padding: 4px;
}

h1 {
    font-family: Museo, Georgia, Times, serif;
	font-size: 22px;
	margin-bottom: 22px;
	color: #333;
}

h2 {
    font-family: Museo, Georgia, Times, serif;
	font-size: 20px;
	margin-bottom: 16px;
	color: #333;
}

h3 {
  font-family: Museo, Georgia, Times, serif;
  text-transform: uppercase;
  color: #707070;
}

a {
  color: #394046;
  text-decoration: none;
}

a:hover {
  color: #1abcd5;
}

#header {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100px;
}

#logo {
  float: left;
}

#login {
  width: 500px;
  float: right;
}

#login ul {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
} 

#login li {
  float: left;
  border-left: 1px solid #f1f1f1;
}

#login ul li a {
  background-color: #454545;
  width: 140px;
  height: 30px;
  color: #f2f2f2;
  text-align: center;
  display: block;
  text-transform: uppercase;
  line-height: 26px;
}

#login ul li a:hover {
  border-left: 1px solid #f2f2f2;
  color: #454545;
  background-color: #f2f2f2;
}

#navigation {
  float: right;
  padding-top: 70px;
  color: #707070;
  font-size: 18px;
  font-family: Museo, Georgia, Times, serif;
}

#navigation ul {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
} 

#navigation ul li {
  display: inline;
  margin-left: 20px;
  padding-bottom: 10px;
}

.current_link {
  color: #1abcd5;
}

#navigation li:hover {
  background: url('/images/underline.png') repeat-x scroll left bottom transparent;
}

#navigation a {
  color: #707070;
}

#navigation a:hover {
  color: #1abcd5;
}

#illustrations {
  padding: 20px;
  height: 220px;
  width: 100%;
}

.above_illus {
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  font-size: 16px;
  font-family: Museo, Georgia, Times, serif;

}

#ill1 {
  display: inline-block;
  width: 240px;
  height: 240px;
  background-image: url('/images/nori_studijuoti.png');
  background-repeat: no-repeat;
  background-position: 20px 30px;
}

#ill2 {
  margin-left: 80px;
  display: inline-block;
  width: 240px;
  height: 240px;
  background-image: url('/images/studijuoji.png');
  background-repeat: no-repeat;
  background-position: 20px 30px;
}

fieldset {
  margin-top: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}

legend {
  padding: .4em 1em;
}

.form_row{
  white-space: nowrap;
  padding-bottom: .5em;
}

pre {
  background-color:#DDDDDD;
  overflow:auto;
  padding:1em;
}

label {
  display: block;
  padding-bottom: 10px;
}

.submit{
  margin-left: 12.5em;
}

#notice {
  border: 1px solid;
  padding: 1em;
  margin: 1em;
  margin-bottom: 2em;
  font: bold;
}

#error{
  border: 1px solid red;
  padding: 1em;
  margin: 1em;
  margin-bottom: 2em;
  font: bold;
}
.wiki_content {
  border: 1px solid #999999;
  padding: 1em;
  margin: 0.5em;
  margin-bottom: 2em;
}

.edit_history{
  border: 1px solid #999999;
  padding: 1em;
  margin: 0.5em;
  font-size: smaller;
}

.debug_dump{
  border-top: 1px dashed black;
  text-align: left;
  background: #ccc;
  margin: 0;
  padding: .5em;
}

.fieldWithErrors {
  margin: 2px;
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12pt;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 11pt;
  list-style: square;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.0em; }
.css3 { font-size: 1.3em; }
.css4 { font-size: 1.7em; }
.css5 { font-size: 2.0em; }

.newWikiWord { background: #dedede;}

.with_border {
  border: 1px solid #aaaaaa;
}

.with_margin {
  margin: 2px;
}

.with_padding {
  padding: 2px;
}

.small {
  font-size: small;
}

.smaller {
  font-size: smaller;
}

.bolder {
  font-weight: bold;
}

span.post_date {
  font-size: 11px;
}

span.post_title {
  font-weight: bold;
}

.activity {
  margin: 4px;
  padding: 2px;
}

.notice {
  font-size: 11px;
  color: #ff0000;
}

.modal {
    margin: 4px;
}

form div {
    padding: 10px;
}

img {
    border: #999999;
}

.question {
    font-size: smaller; 
    background-color: #eaeaea;
    border: 1px solid #bababa;
    margin: 4px;
    padding: 4px;
}

.question_header {
  padding-bottom: 4px;
}

.comments {
    background-color: #efefef;
    margin: 10px;
}

.comment {
    background-color: #eaeaea;
    border: 1px solid #aaaaaa;
    padding: 4px;
    margin: 4px;
}

.valign_middle{
  vertical-align:middle;
}

.float_left{
  float: left;
}

.float_right{
  float: right;
}

.standard_width{
    width: 400px;
}

.blog_post_header {
    background-color: #eaeaea;
    border: 1px solid #aaaaaa;
    padding: 4px;
    margin: 4px;
}

.blog_post_body {
    padding: 4px;
    margin: 4px;
    padding-bottom: 20px;
}

.blog_post_footer {
    border: 1px solid #aaaaaa;
    padding: 4px;
    margin: 12px;
    margin-bottom: 20px;
}

.comment_form {
    margin-left: 12px;
}

.gooutuser {
  font-weight: bold;
}

span.span_separator {
  margin-left: 5px;
  margin-right: 5px;
}

div.spacer {
  height: 20px;
}

.profile_block {
  padding-bottom: 14px;
}

.answer {
    margin: 4px;
    padding: 4px;
    border: 1px solid #aaaaaa;
}

div.answer_body {
  padding-left: 100px;
}

span.delete_answer {
  margin: 4px;
  float: right;
}

h3.ask_question {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.wiki_updates {
  width: 500px;
  margin 4px;
  padding: 4px;
  font-size: 12px;
}

.user_row{
  min-height: 50px;
}

.user_avatar{
  min-width: 50px;
}

.pagination {
  padding: 4px;
}

.pagination a {
  margin: 2px;
  padding: 2px;
  border: 1px solid #aaaaaa;
}

div.auto_complete {
  padding: 0;
  margin: 0;
}

.answer_header {
  display: inline;
}

.vote_button {
  display: inline;
}

.vote_buttons {
  display: inline;
}

.box {
  height: 100%;
  margin: 4px;
  padding: 4px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
  max-width: 400px;
}

.wmd-preview {
  border: 1px solid #aaaaaa;
  background-color: #fff4d7;
  max-width: 600px;
}
