<b><%=t(:formating_help) %></b>

<div class="smaller with_border with_padding">

  <pre>**Pusjuodis** tekstas</pre>
  <span><b>Pusjuodis</b> tekstas</pre>

  <br />

  <pre>Tekstas *kursyvu*</pre>
  <span>Tekstas <i>kursyvu</i></pre>

  <br />

  <pre># Antraštė naujoje eilutėje</pre>
  <h1>Antraštė naujoje eilutėje</h1>

  <pre>## Skirsnio pavadinimas</pre>
  <h2>Skirsnio pavadinimas</h2>

  <pre>[[Nuoroda į dar neegzistuojantį puslapį]]</pre>
  <span class="newWikiWord">Nuoroda į dar neegzistuojantį puslapį<u>?</u></span>

  <br />

  <pre>Nuoroda į jau egzistuojantį straipsnį [[Italija]]</pre>
  <span>Nuoroda į jau egzistuojantį straipsnį <u>Italija</u><span>

  <br />

  <pre>Nuoroda į [kitą svetainę](http://www.google.com)</pre>
  <span>Nuoroda į <a href="http://www.google.com">kitą svetainę</a></span>

</div>
